@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: .3s;
}
img{display: block;}
 
#wrap{
    width: 1200px;
    margin: 0 auto;
}
header{height: 100px; display: flex;/*  background: #faa; */}
#slide{height: 300px; /* background: #fac; */}
#contents{height: 200px; /* background: #faf; */}
footer{height: 100px; background: #eee;}


.logo{
    width: 200px;
    padding: 30px 0;
}
nav{
    width: 1000px;
    height: 100px;
   /*  background: #ffa; */
}



.sub{
    display: none;
    height: 160px; /* gnb 라인하이트 기준으로 주고나면 밑부분 여백이 생김. 생략가능 */
    background: #eee;
}
/* .gnb:hover .sub{display: block;} */
.gnb a{line-height: 40px; text-align: center;}
.sub a{line-height: 32px;} /* 생략가능.gnb보다 작게 */
.gnb li{width: 150px;}
.gnb{
    width: 600px;
    display: flex;
    position: relative;
    top: 30px; left: 370px;
    background: #ccc;    
}
.gnb li:hover>a{background: #333; color: #fff;}


#slide{overflow: hidden;}
#slide ul{
    animation: slide 9s infinite;
}
@keyframes slide{
    0%{margin-top: 0;}
    33%{margin-top: -300px;}
    66%{margin-top: -600px;}
    100%{margin-top: -900px;}
}


#contents{display: flex;}
#contents section{
    width: 400px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.tab a{
    text-align: center;
    line-height: 29px;
    border-bottom: 1px #222 solid;
} 
.tab a:hover{
    background: #666;
    color: #fff;
}
.tab li{width: 50%;}
.tab{display: flex;}


.subject{
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date{
    width: 30%;
    text-align: right;
}
.notice a{
    display: flex;
    font-size: 14px;
    line-height: 25px;
}
.notice a:hover{
    background: #666;
    color: #fff;
}



.gallery img{width: 100px;}
.gallery li{
    width: 100px;
    padding: 25px 0;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    display: none;
}
.gallery a:hover{   /* a에 트렌지션 걸어져서 a에 해주는게 좋음 */
    opacity: .6;
}



.title{
    text-align: center;
    line-height: 29px;
    border-bottom: 1px #222 solid;
    font-weight: normal;
    font-size: 16px;
}
.banner:hover{
    opacity: .6;
}


.shortcut img{width: 100px;}
.shortcut li{
    width: 100px;
    padding-top: 25px;
}
 
.shortcut{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 13px;
    line-height: 25px; /* 원래 이미지 사이즈 맞출때 상,하 25px주려고 했다가 텍스트 넣을수도 있어서 윗쪽만 줬었음. 바로가기에서는 이미지 밑에 글씨가 딱 붙는데 약간 떨어지게 하기위해 그 패딩을 줌 */  
}   

.shortcut a:hover{   /* a에 트렌지션 걸어져서 img가 아닌 a에 해주는게 좋음 */
    opacity: .6;
    text-decoration: underline;
}

footer{
    display: flex;
    text-align: center;
    font-size: 13px;
}
.copyright{
    width: 850px;
    padding-top: 30px;
}
.sns{
    width: 150px;
    padding-top: 34px;   
}
.sns select{
    width: 120px;
    height: 32px;    
}


#popup{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0; left: 0;
    z-index: 99999999999;
    display: none;
}
.popup_body{
    width: 600px;
    height: 400px;
    background: #fff;
    text-align: center;
    border: 5px darkolivegreen solid;
    border-radius: 20px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%)
}
.popup_body h3{
    line-height: 80px;
}
.popup_body p{
    text-align: left;
    padding: 0 20px;
    height: 250px;
}
.close{
    width: 130px;
    line-height: 40px;
}
