@charset "utf-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
img{display: block;}

header{height: 200px; display: flex; position: relative;}
.logo{width: 15%; height: 200px; padding-left: 45px;}
.logo img{width: 100%; padding: 80px 0;}
nav{width: 70%;}
.gnb a{text-align: center; line-height: 200px; font-size: 14px; color: #494a3f; }
.gnb li{width:10%;}
.gnb{width: 100%; display: flex; justify-content: space-evenly; }



.header-reservation{
    width: 15%;
    position: absolute;
    top: 90px; right: 0px;      
}
.header-reservation img{width: 100%;}


.main-back{
    width: 100%;
    position: relative;}
.mb-text{
    width: 30%;
    position: absolute;
    top:280px; left: 500px;
    transform: translate(-50%,-50%);   
    color: #494a3f;
}
.mb-text p{
    text-align: center;
    line-height: 30px;
    color: #494a3f;
}



.intro .title{
    line-height: 50px;
    text-align: center;   
    color: #494a3f;
    padding-top: 40px;
    padding-bottom: 60px;   
}


.view{display: flex;}
.v-bg{width: 50%;}
.v-bg img{width: 100%;}
.v-txt{
    width: 50%;
    text-align: center;
    padding-top: 80px; 
    color: #494a3f; 
}
.v-txt h5{
    font-size: 14px;
    font-weight: normal;    
    line-height: 50px;
}
.v-txt p{
    font-size: 12px;
    line-height: 30px;
}


.garden{display: flex;}
.gd-txt{
    width: 50%;
    text-align: center;
    padding-top: 80px;
    color: #494a3f;
}
.gd-txt{
    width: 50%;
}
.gd-bg img{width: 100%;}

.gd-txt{
    text-align: center;
    
}
.gd-txt h5{
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
}
.gd-txt p{
    font-size: 12px;
    line-height: 30px;
}




.breakfast{display: flex;}
.bf-bg{width: 50%;}
.bf-bg img{width: 100%;}
.bf-txt{
    width: 50%;
    text-align: center;
    padding-top: 80px; 
    color: #494a3f; 
}
.bf-txt h5{
    font-size: 14px;
    font-weight: normal;    
    line-height: 50px;
}
.bf-txt p{
    font-size: 12px;
    line-height: 30px;
}

.deco{
    text-align: center;
    color: #889293;
    line-height: 80px;
}



.rpback{position: relative;}
.rptext{
    position: absolute;
    top: 0; left: 300px;
    transform: translate(50%,50%);
    text-align: center;
    color: #fff;
}
.rptext h4{
    font-size: 24px;
    line-height: 40px;
}
.rptext p{
    font-size: 12px;
    line-height: 24px;
}

 
.rp-detail li{
    width: 30%;
    padding: 10px;
}
.rp-detail img{
    width: 100%;
}
.rp-detail{
    position: absolute;
    top: 0; left: 0;
    transform: translateY(50%);
}
.rp-detail a{
    line-height: 40px;
    background: #d7dfed;
    color: #494a3f;
}

.etc{
    padding: 250px 0;    
    display: flex;
    position: relative;
}

.ls li img{
    width: 100%;
}
.ls li{ 
    padding-right: 10px;
}
.tv li img{
    width: 100%;
}
.tv li{
    padding-left: 10px;
}
.landscape{
    width: 50%;
}
.travel{
    width: 50%;
} 
.ls{position: relative;} 
.ls li:nth-child(2){
    position: absolute;
    top: 130px; left: 120px;
    transform: translate(50%,50%);
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.tv{position: relative;}
.tv li:nth-child(2){
    position: absolute;
    top: 130px; left: 170px;
    transform: translate(50%,50%);
    text-align: center;
    color: #fff;
    font-size: 14px;
}
span{
    font-size: 24px;
    font-weight: bold;
}

footer{
    background: #c8d2d3;
}

